NEW.W.2018.Masarnouski.03/.vs/NEW.W.2018.Masarnouski.03/v15/Server/sqlite3/db.lock
NEW.W.2018.Masarnouski.03/.vs/NEW.W.2018.Masarnouski.03/v15/Server/sqlite3/storage.ide
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/App.config
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03.Tests/packages.config
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03.Tests/bin/Debug/
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03.Tests/obj/Debug/NEW.W.2018.Masarnouski.03.Tests.csproj.CopyComplete
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03.Tests/obj/
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03.Tests/Properties/AssemblyInfo.cs
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/bin/Debug/NEW.W.2018.Masarnouski.03.exe.config
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/obj/Debug/NEW.W.2018.Masarnouski.03.csproj.FileListAbsolute.txt
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/obj/
NEW.W.2018.Masarnouski.03/packages/MSTest.TestAdapter.1.2.0/MSTest.TestAdapter.1.2.0.nupkg
NEW.W.2018.Masarnouski.03/packages/MSTest.TestFramework.1.2.0/MSTest.TestFramework.1.2.0.nupkg
NEW.W.2018.Masarnouski.03/packages/MSTest.TestAdapter.1.2.0/build/uap10.0/MSTest.TestAdapter.targets
NEW.W.2018.Masarnouski.03/packages/MSTest.TestAdapter.1.2.0/build/uap10.0/MSTest.TestAdapter.props
NEW.W.2018.Masarnouski.03/packages/MSTest.TestAdapter.1.2.0/build/netcoreapp1.0/MSTest.TestAdapter.props
NEW.W.2018.Masarnouski.03/packages/MSTest.TestAdapter.1.2.0/build/net45/MSTest.TestAdapter.targets
NEW.W.2018.Masarnouski.03/packages/MSTest.TestAdapter.1.2.0/build/net45/MSTest.TestAdapter.props
*.XML
NEW.W.2018.Masarnouski.03/packages/NUnit3TestAdapter.3.10.0/LICENSE.txt
NEW.W.2018.Masarnouski.03/packages/NUnit.3.10.1/LICENSE.txt
NEW.W.2018.Masarnouski.03/packages/NUnit3TestAdapter.3.10.0/build/netcoreapp1.0/NUnit3TestAdapter.props
NEW.W.2018.Masarnouski.03/packages/NUnit3TestAdapter.3.10.0/build/net35/NUnit3TestAdapter.props
NEW.W.2018.Masarnouski.03/packages/NUnit3TestAdapter.3.10.0/NUnit3TestAdapter.3.10.0.nupkg
NEW.W.2018.Masarnouski.03/packages/NUnit.3.10.1/CHANGES.md
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/Properties/AssemblyInfo.cs
NEW.W.2018.Masarnouski.03/packages/NUnit.3.10.1/build/NUnit.props
NEW.W.2018.Masarnouski.03/packages/NUnit.3.10.1/NUnit.3.10.1.nupkg
NEW.W.2018.Masarnouski.03/packages/NUnit.3.10.1/NOTICES.txt
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/bin/Debug/NEW.W.2018.Masarnouski.03.pdb
NEW.W.2018.Masarnouski.03/NEW.W.2018.Masarnouski.03/bin/Debug/NEW.W.2018.Masarnouski.03.exe
NEW.W.2018.Masarnouski.03/.vs/NEW.W.2018.Masarnouski.03/v15/.suo
